---
import { siteConfig } from "@/config";

const base = import.meta.env.BASE_URL; // contoh: "/Ladrian-Fiction/" atau "/"
const umamiSrc = `${base}js/umami-share.js`;
---

<div id="config-carrier" data-hue={siteConfig.themeColor.hue}></div>

<script is:inline src={umamiSrc}></script>
